In [14]:
# function to transform thousand values in percentages
# WORKS ONLY FOR POP 2018 - 2019
import os
from pandas import *
import pprint

print(os.getcwd())

DStotal = read_csv("../data/cleanDS/Population2018Selected_clean.csv", keep_default_na=False)
DSpartial = read_csv("../data/mashupDS/PregnancyDS.csv", keep_default_na=False)
labelTotal = "Females_value"
labelPartial = "Total"

#def percentages(DStotal, DSpartial, labelTotal, labelPartial):
mergedDF = merge(DStotal, DSpartial, left_on="Region", right_on="Territorio", how="left")
mergedDF = mergedDF[[labelTotal, labelPartial]]

percentageList = []

for idx, row in mergedDF.iterrows():
    num = mergedDF.at[idx, labelPartial]
    den = mergedDF.at[idx, labelTotal]

    percentage = (num*100)/den
    percentageList.append(percentage)

# put list in a serie
# create final dataframe

c:\Users\ghiot\Documents\GitHub\blessedfruit\scripts

     Females_value   Total
0            18470  8781.0
1            18438  8781.0
2            18293  8781.0
3            18838  8781.0
4            18327  8781.0
..             ...     ...
235           6759  2667.0
236           6955  2667.0
237           7182  2667.0
238           7563  2667.0
239          75197  2667.0

[240 rows x 2 columns]