In [5]:
# D2
# merge all datasets to create a unique dataset with different region
import os
from pandas import *

cwd = os.getcwd()
cwd

path = "../data/srcDS/Population/Selected/D1-D2Population2018/"
dir = os.listdir(path) # creates a list with the files in the directory

dfList = [] # empty list for dataframes we are going to concatenate

for csv in dir:

        if csv[-4:] == ".csv": #checking that file is actually a csv
            region = csv[5:9] # save the region of each csv by region code
            df = read_csv(path+csv, keep_default_na=False)
            df["ITTER107"] = region # add a region serie to the dataframe
            dfList.append(df)
            
population2018 = concat(dfList)

population2018 = [[]]

,Age,Never married males,Married males,Divorced males,Widowed males,Same sex civil partner males,Divorced same-sex civil partner males,Widow of same-sex civil partner males,Total males,Never married females,Married females,Divorced females,Widowed females,Same sex civil partner females,Divorced same-sex civil partner females,Widow of same-sex civil partner females,Total females,Total,ITTER107
0,15,19722,0,0,0,0,0,0,19722,18470,0,0,0,0,0,0,18470,38192,ITC1
1,16,19206,1,1,0,0,0,0,19208,18434,2,2,0,0,0,0,18438,37646,ITC1
2,17,19421,0,3,0,0,0,0,19424,18288,4,1,0,0,0,0,18293,37717,ITC1
3,18,20398,5,2,0,0,0,0,20405,18814,24,0,0,0,0,0,18838,39243,ITC1
4,19,20515,21,0,0,0,0,0,20536,18192,133,2,0,0,0,0,18327,38863,ITC1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,22,7815,21,0,0,1,0,0,7837,6674,85,0,0,0,0,0,6759,14596,ITG5
8,23,7968,44,1,0,2,0,0,8015,6803,151,0,1,0,0,0,6955,14970,ITG5
9,24,7948,78,1,0,1,0,0,8028,6942,239,1,0,0,0,0,7182,15210,ITG5
10,25,8006,106,0,0,0,0,0,8112,7166,392,4,0,1,0,0,7563,15675,ITG5
11,Total,83663,262,3,1,4,0,0,83933,74235,953,6,1,2,0,0,75197,159130,ITG5