
### DISCLAIMER: for the code to properly work, first "clear outpyts of all cells", then "run all"


# Source datasets

This Jupyter Notebook analyses the source datasets and the process of cleaning up for ["Blessed Be the Fruit"](https://github.com/OrsolaMBorrini/blessedfruit), an open data project regarding the analysis of factors that might influence pregnancy rates in young women in Italy.


## Selection phase
Overall, **7 source datasets** have been selected, all coming from [Istat](https://www.istat.it/) various databases and platforms such as [demo - demography in figures](https://demo.istat.it/?l=en), [IstatData](https://esploradati.istat.it/databrowser/#/) and [I.Stat](http://dati.istat.it/?lang=en).

When possible, the IstatData has been preferred to I.Stat, as all the content of the latter will be gradually migrated in the former.

Id | Dataset | Description | Provenience | Link / Path
--- | --- | --- | --- | --- 
D1 | Population estimates 2002-2019 by age and sex at Jan 1st | POP | demo | [Link](https://demo.istat.it/app/?i=RIC&l=en)
D2 | Resident population by age, sex and marital status on 1st January 2022 | POP | demo | [Link](https://demo.istat.it/app/?i=POS&l=en)
D3 | Aspects of daily life: Religious observances - regions and type of municipality | REL | I.Stat | Daily life and citizen opinions > Social Activities and religious observances > Religious observances - regions and type of municipality
D4 | Mother - Age and citizenship | PREG | IstatData | [Link](https://esploradati.istat.it/databrowser/#/en/dw/categories/IT1,POP,1.0/POP_BIRTHFERT/DCIS_NATI1/DCIS_NATI1_PARENT_CHARACT/IT1,25_74_DF_DCIS_NATI1_8,1.0)
D5 | Spontaneous abortions - resignation from the place of the event: Age of women - prov. | PREG | I.Stat | Health Statistics > Women Reproductive Health > Spontaneous abortions - resignation from the place of the event > Provincial data > Age of women - prov.
D6 | Induced abortions - Migration: Events by region of residence of the woman and region of intervention | PREG | I.Stat | Health Statistics > Women Reproductive Health > Voluntary interruptions of pregnancy - characteristics of the woman > Provincial data > Age - prov. of event
D7 | Early leavers from education and training - aged 18 to 24 - previous regulation (until 2020) | ED | I.Stat | Education and Training > Population 15 years and over by highest level of education - previous regulation (until 2020) > Early leavers from education and training - aged 18 to 24 - previous regulation (until 2020) > Data summary

## Analysis phase

### D1 - "Population estimates 2002-2019 by age and sex at Jan 1st"
### D2 - "Resident population by age, sex and marital status on 1st January 2022"

### D3 - "Aspects of daily life: Religious observance - regions and type of municipality"
**Path** to the dataset on the I.stat platform: `Daily life and citizen opinions > Social Activities and religious observances > Religious observances - regions and type of municipality`

Select variables:
* Measure: thousands value
* Territory: Piemonte, Valle d'Aosta / Vallée d'Aoste, Liguria, Lombardia, Trentino Alto Adige / Sudtirol, Veneto, Friuli-Venezia Giulia, Emilia-Romagna, Toscana, Umbria, Marche, Lazio, Abruzzo, Molise, Campania, Puglia, Basilicata, Calabria, Sicilia, Sardegna
* Select time: 2017, 2018, 2019
* Data type: "at least once a week", "never"


**Export in CSV** and get this dataframe (some rows are shown as example):

In [22]:
import csv
import pandas as pd 

path = '../data/srcDS/D3.csv'
d3 = pd.read_csv(path, keep_default_na=False)
d3

,ITTER107,Territory,TIPO_DATO_AVQ,Data type,MISURA_AVQ,Measure,TIME,Select time,Value,Flag Codes,Flags
0,ITD3,Veneto,6_WEEK_RELIG,at least once a week,THV,thousands value,2017,2017,1302,,
1,ITD3,Veneto,6_WEEK_RELIG,at least once a week,THV,thousands value,2018,2018,1155,,
2,ITD3,Veneto,6_WEEK_RELIG,at least once a week,THV,thousands value,2019,2019,1129,,
3,ITC4,Lombardia,6_WEEK_RELIG,at least once a week,THV,thousands value,2017,2017,2539,,
4,ITC4,Lombardia,6_WEEK_RELIG,at least once a week,THV,thousands value,2018,2018,2371,,
...,...,...,...,...,...,...,...,...,...,...,...
115,ITE1,Toscana,6_NEVER_RELIG,never,THV,thousands value,2018,2018,1308,,
116,ITE1,Toscana,6_NEVER_RELIG,never,THV,thousands value,2019,2019,1368,,
117,ITF2,Molise,6_NEVER_RELIG,never,THV,thousands value,2017,2017,51,,
118,ITF2,Molise,6_NEVER_RELIG,never,THV,thousands value,2018,2018,56,,
119,ITF2,Molise,6_NEVER_RELIG,never,THV,thousands value,2019,2019,60,,


We can see that we have repeated data:
* `ITTER107` corresponds to `Territory`
* `TIPO_DATO_AVQ` corresponds to `Data type`
* `MISURA_AVQ` corresponds to `Measure`
* `TIME` corresponds to `Select time`

Therefore, we can get rid of these duplicated columns (and other unnecessary columns) in order to keep our dataset cleaner (<u>see</u>: section "Clean up phase > "D3 - Aspects of daily life: Religious observance - regions and type of municipality")

### D4 - "Mother - Age and citizenship"
### D5 - "Spontaneous abortions - resignation from the place of the event: Age of women - prov."
### D6 - "Induced abortions - Migration: Events by region of residence of the woman and region of intervention"
### D7 - "Early leavers from education and training - aged 18 to 24 - previous regulation (until 2020)"

## Clean up phase

### D1 - "Population estimates 2002-2019 by age and sex at Jan 1st"
### D2 - "Resident population by age, sex and marital status on 1st January 2022"

### D3 - "Aspects of daily life: Religious observance - regions and type of municipality"

As D3 is a pretty simple dataset, all that was needed to clean it was just to **remove the duplicate and unnecessary columns** (namely "Territory", "Data type", "MISURA_AVQ", "Measure", "Select time", "Flag Codes", "Flags"), while keeping the corresponding coded ones ("ITTER107", "TIPO_DATO_AVQ", "TIME").
Specifically, the column "MISURA_AVQ" was also dropped because we only have "thousands values".

In [23]:
''' DOUBLE COLUMNS
    ITTER107 <-> Territory
        ITC1 <-> Piemonte
        ITC2 <-> Valle d'Aosta / Vallée d'Aoste
        ITC3 <-> Liguria
        ITC4 <-> Lombardia
        ITD3 <-> Veneto
        ITD4 <-> Friuli-Venezia Giulia
        ITD5 <-> Emilia-Romagna
        ITDA <-> Trentino Alto Adige / Sudtirol
        ITE1 <-> Toscana
        ITE2 <-> Umbria
        ITE3 <-> Marche
        ITE4 <-> Lazio
        ITF1 <-> Abruzzo
        ITF2 <-> Molise
        ITF3 <-> Campania
        ITF4 <-> Puglia
        ITF5 <-> Basilicata
        ITF6 <-> Calabria
        ITG1 <-> Sicilia
        ITG2 <-> Sardegna
    TIPO_DATO_AVQ <-> Data type
        6_NEVER_RELIG <-> never
        6_WEEK_RELIG <-> at least once a week
    MISURA_AVQ <-> Measure
        THV <-> thousands value
    TIME <-> Select time
        Nothing changes in the kind of data in the cells
'''
# Dropping the columns with data in NL for clarity (we can also drop the 'MISURA_AVQ' column, knowing that we are talking of thousands value)
d3.drop(["Territory","Data type","MISURA_AVQ","Measure","Select time","Flag Codes","Flags"], axis=1, inplace=True)
print(d3)

# Create new clean CSV for D3 (do not un-comment)
# d3.to_csv("../data/cleanDS/D3_clean.csv", index=False)

    ITTER107  TIPO_DATO_AVQ  TIME  Value
0       ITD3   6_WEEK_RELIG  2017   1302
1       ITD3   6_WEEK_RELIG  2018   1155
2       ITD3   6_WEEK_RELIG  2019   1129
3       ITC4   6_WEEK_RELIG  2017   2539
4       ITC4   6_WEEK_RELIG  2018   2371
..       ...            ...   ...    ...
115     ITE1  6_NEVER_RELIG  2018   1308
116     ITE1  6_NEVER_RELIG  2019   1368
117     ITF2  6_NEVER_RELIG  2017     51
118     ITF2  6_NEVER_RELIG  2018     56
119     ITF2  6_NEVER_RELIG  2019     60

[120 rows x 4 columns]


### D4 - "Mother - Age and citizenship"
### D5 - "Spontaneous abortions - resignation from the place of the event: Age of women - prov."
### D6 - "Induced abortions - Migration: Events by region of residence of the woman and region of intervention"
### D7 - "Early leavers from education and training - aged 18 to 24 - previous regulation (until 2020)"