# Source datasets

This Jupyter Notebook analyses the source datasets and the process of cleaning up for ["Blessed Be the Fruit"](https://github.com/OrsolaMBorrini/blessedfruit), an open data project regarding the analysis of factors that might influence pregnancy rates in young women in Italy.

### Disclaimer
This Jupyter Notebook is of informational nature only, it is not thought to be used for the clean up process for the datasets, but only for their analysis and the explanation of the process.<br>The code actually used for the clean up can be found in `scripts > CLEANING.py`.

## Selection phase
Overall, **7 source datasets** have been selected, all coming from [Istat](https://www.istat.it/) various databases and platforms such as [demo - demography in figures](https://demo.istat.it/?l=en), [IstatData](https://esploradati.istat.it/databrowser/#/) and [I.Stat](http://dati.istat.it/?lang=en).

When possible, the IstatData has been preferred to I.Stat, as all the content of the latter will be gradually migrated in the former.

Id | Dataset | Description (factor of interest) | Provenience | Link / Path
--- | --- | --- | --- | --- 
D1 | Population estimates 2002-2019 by age and sex at Jan 1st | POPULATION | demo | [Link](https://demo.istat.it/app/?i=RIC&l=en)
D2 | Resident population by age, sex and marital status on 1st January 2022 | POPULATION | demo | [Link](https://demo.istat.it/app/?i=POS&l=en)
D3 | Aspects of daily life: Religious observances - regions and type of municipality | RELIGION | I.Stat | Daily life and citizen opinions > Social Activities and religious observances > Religious observances - regions and type of municipality
D4 | Mother - Age and citizenship | PREGNANCY | IstatData | [Link](https://esploradati.istat.it/databrowser/#/en/dw/categories/IT1,POP,1.0/POP_BIRTHFERT/DCIS_NATI1/DCIS_NATI1_PARENT_CHARACT/IT1,25_74_DF_DCIS_NATI1_8,1.0)
D5 | Spontaneous abortions - resignation from the place of the event: Age of women - prov. | PREGNANCY | I.Stat | Health Statistics > Women Reproductive Health > Spontaneous abortions - resignation from the place of the event > Provincial data > Age of women - prov.
D6 | Induced abortions - Migration: Events by region of residence of the woman and region of intervention | PREGNANCY | I.Stat | Health Statistics > Women Reproductive Health > Voluntary interruptions of pregnancy - characteristics of the woman > Provincial data > Age - prov. of event
D7 | Early leavers from education and training - aged 18 to 24 - previous regulation (until 2020) | EDUCATION | I.Stat | Education and Training > Population 15 years and over by highest level of education - previous regulation (until 2020) > Early leavers from education and training - aged 18 to 24 - previous regulation (until 2020) > Data summary

## Analysis phase

### D1/2 - Population
After closing the 2010-2011 census, Istat decided to move onto a "permanent census", aiming at yearly detections (not decennial anymore).
Specifically, Istat started doing a "Censimento permanente della popolazione e delle abitazioni", regarding population and households, in [2018](https://www.istat.it/it/archivio/199573).

These ["permanent censuses"](https://www.istat.it/en/censuses) involve, time after time, just representative samples of the population, businesses, and institutions. However, the publication of the obtained data can be considered of "census" status, thus referrable to the entire observation field. This is possible thanks to the integration of administrative sources with sample detections, which allows for the exhaustivity, higher quality, and informational offer of the data.

All the demographic data, detailed to single municipalities, can be found both on I.stat and **demo**. As the latter is a more specific database (and contains even the 2017-2019 years), we have decided to use it instead of I.stat for this specific aspect of our research.

Since the census refers to the population "up to the 1st of January" of the selected year, when selecting the year variable in our dataset we did not choose directly 2017-2018-2019 (our time span of interest), but 2018-2019-2020.

For all the reasions mentioned above, we have used two different dataset for the population:
1. D1 - "Population estimates 2002-2019 by age and sex at Jan 1st" (for the year 2017)
2. D2 - "Resident population by age, sex and marital status on 1st January 2022" (for the years 2018 and 2019)

While for the mashup with the "PREGNANCY datasets" (D4, D5, D6) we will need only the population in our age range and gender of interest (15-25, F) for each region, the one with the "RELIGION dataset" (D3) will need the whole population for each region. Therefore, it will be necessary to have, for each year and each region, different "POPULATION" datasets regarding both our age range and gender of interest and the general population.

#### D1 - "Population estimates 2002-2019 by age and sex at Jan 1st" (2017)
**Link** to the dataset on the demo platform: [here](https://demo.istat.it/app/?i=RIC&l=it)

##### D1.1 - Selected age range and gender (2017)
Select variables:
* Citizenship: All
* From age - to age: 15 - 25
* Year: 2018
* All regions

**Export in CSV** and get this dataframe:

In [12]:
import csv
from pandas import *

sel_2017 = read_csv('../data/srcDS/Population/Selected/D1-D2Population2017.csv', keep_default_na=False)
sel_2017

     Region code    Region  Age      Sex  Population
0              1  Piemonte   15    Total       37597
1              1  Piemonte   15    Males       19171
2              1  Piemonte   15  Females       18426
3              1  Piemonte   16    Total       37662
4              1  Piemonte   16    Males       19387
..           ...       ...  ...      ...         ...
655           20  Sardegna   24    Males        8217
656           20  Sardegna   24  Females        7625
657           20  Sardegna   25    Total       16453
658           20  Sardegna   25    Males        8504
659           20  Sardegna   25  Females        7949

[660 rows x 5 columns]

As we are only interested in our selected gender ('Females'), we will get rid of the rows regarding male population (all the rows containing, under the column 'Sex', the value 'Males').

##### D1.2 - General population (2017)
Select variables:
* Citizenship: All
* From age - to age: 0 - 100 and over
* Year: 2018
* All regions

**Export in CSV** and get this dataframe:

In [13]:
gen_2017 = read_csv('../data/srcDS/Population/General/2017General.csv', keep_default_na=False)
gen_2017

      Region code    Region           Age      Sex  Population
0               1  Piemonte             0    Total       30680
1               1  Piemonte             0    Males       15597
2               1  Piemonte             0  Females       15083
3               1  Piemonte             1    Total       31895
4               1  Piemonte             1    Males       16306
...           ...       ...           ...      ...         ...
6055           20  Sardegna            99    Males          43
6056           20  Sardegna            99  Females         151
6057           20  Sardegna  100 and over    Total         424
6058           20  Sardegna  100 and over    Males          93
6059           20  Sardegna  100 and over  Females         331

[6060 rows x 5 columns]

#### D2 - "Resident population by age, sex and marital status on 1st January 2022" (2018, 2019)

Link to the dataset on the demo platform: [here](https://demo.istat.it/app/?i=POS&l=en).

##### D2.1 - Selected age and gender (2018, 2019)
Select variables:
* Year: 2019 (or 2020)
* From age - to age: 15 - 25 and over
* All regions (one dataset for each region)

**Export in CSV** and get this dataframe for each region (only one will be showcased here):

In [14]:
# Example for 2018, only one region
ex2018_selected = read_csv('../data/srcDS/Population/Selected/D1-D2Population2018/2018-ITC1.csv', keep_default_na=False)
ex2018_selected

,Age,Never married males,Married males,Divorced males,Widowed males,Same sex civil partner males,Divorced same-sex civil partner males,Widow of same-sex civil partner males,Total males,Never married females,Married females,Divorced females,Widowed females,Same sex civil partner females,Divorced same-sex civil partner females,Widow of same-sex civil partner females,Total females,Total
0,15,19722,0,0,0,0,0,0,19722,18470,0,0,0,0,0,0,18470,38192
1,16,19206,1,1,0,0,0,0,19208,18434,2,2,0,0,0,0,18438,37646
2,17,19421,0,3,0,0,0,0,19424,18288,4,1,0,0,0,0,18293,37717
3,18,20398,5,2,0,0,0,0,20405,18814,24,0,0,0,0,0,18838,39243
4,19,20515,21,0,0,0,0,0,20536,18192,133,2,0,0,0,0,18327,38863
5,20,21212,31,2,0,1,0,0,21246,18339,258,1,0,0,0,0,18598,39844
6,21,20736,60,3,0,0,0,0,20799,18381,476,9,0,0,0,0,18866,39665
7,22,20542,145,0,2,7,0,0,20696,17692,706,4,1,1,0,0,18404,39100
8,23,20279,230,4,1,5,0,0,20519,17572,997,15,1,3,0,0,18588,39107
9,24,20139,342,12,1,2,0,0,20496,17421,1547,21,5,1,0,0,18995,39491
10,25,20029,664,17,0,2,0,0,20712,17086,2157,31,3,5,1,0,19283,39995
11,Total,222199,1499,44,4,17,0,0,223763,198689,6304,86,10,10,1,0,205100,428863

In [15]:
# Example for 2019, only one region
ex2019_selected = read_csv('../data/srcDS/Population/Selected/D1-D2Population2019/2019-ITC1.csv', keep_default_na=False)
ex2019_selected

,Age,Never married males,Married males,Divorced males,Widowed males,Same sex civil partner males,Divorced same-sex civil partner males,Widow of same-sex civil partner males,Total males,Never married females,Married females,Divorced females,Widowed females,Same sex civil partner females,Divorced same-sex civil partner females,Widow of same-sex civil partner females,Total females,Total
0,15,19752,1,0,0,0,0,0,19753,18358,1,1,0,0,0,0,18360,38113
1,16,19753,0,4,0,0,0,0,19757,18497,0,0,0,0,0,0,18497,38254
2,17,19257,0,2,0,0,0,0,19259,18454,0,4,0,0,0,0,18458,37717
3,18,19622,2,4,0,0,0,0,19628,18365,13,3,0,0,0,0,18381,38009
4,19,20624,10,3,0,0,0,0,20637,18892,110,0,0,0,0,0,19002,39639
5,20,20703,29,2,0,0,0,0,20734,18249,270,1,0,0,0,0,18520,39254
6,21,21277,49,4,0,1,0,0,21331,18348,410,4,0,0,0,0,18762,40093
7,22,20794,104,4,0,0,0,0,20902,18312,685,13,0,2,0,0,19012,39914
8,23,20580,215,5,1,9,0,0,20810,17664,959,9,2,5,0,0,18639,39449
9,24,20246,367,9,0,5,0,0,20627,17423,1329,23,2,3,1,0,18781,39408
10,25,20117,524,12,1,8,0,0,20662,17156,1961,37,7,4,0,0,19165,39827
11,Total,222725,1301,49,2,23,0,0,224100,199718,5738,95,11,14,1,0,205577,429677

##### D2.2 - General population (2018, 2019)
Select variables:
* Year: 2019 (or 2020)
* From age - to age: 0 - 100 and over
* All regions (one dataset for each region)

For clarity, during the export phase we have removed all columns related with the marital status.

**Export in CSV** and get this dataframe for each region (only one will be showcased here):

In [16]:
# Example for 2018, only one region
ex2018_general = read_csv('../data/srcDS/Population/General/2018General/G2018ITC1.csv')
ex2018_general

              Age  Total males  Total females    Total
0               0        14418          14075    28493
1               1        15605          15112    30717
2               2        16367          15649    32016
3               3        17114          15722    32836
4               4        17482          16707    34189
..            ...          ...            ...      ...
97             97          426           1858     2284
98             98          265           1206     1471
99             99           88            568      656
100  100 and over          138            967     1105
101         Total      2103024        2225541  4328565

[102 rows x 4 columns]

In [17]:
# Example for 2019, only one region
ex2019_general = read_csv('../data/srcDS/Population/General/2019General/G2019ITC1.csv')
ex2019_general

              Age  Total males  Total females    Total
0               0        14145          13640    27785
1               1        14705          14291    28996
2               2        15653          15180    30833
3               3        16397          15656    32053
4               4        17102          15731    32833
..            ...          ...            ...      ...
97             97          437           1974     2411
98             98          276           1334     1610
99             99          166            842     1008
100  100 and over          142            954     1096
101         Total      2095058        2216159  4311217

[102 rows x 4 columns]

### D3 - "Aspects of daily life: Religious observance - regions and type of municipality"
**Path** to the dataset on the I.stat platform: `Daily life and citizen opinions > Social Activities and religious observances > Religious observances - regions and type of municipality`

Select variables:
* Measure: thousands value
* Territory: Piemonte, Valle d'Aosta / Vallée d'Aoste, Liguria, Lombardia, Trentino Alto Adige / Sudtirol, Veneto, Friuli-Venezia Giulia, Emilia-Romagna, Toscana, Umbria, Marche, Lazio, Abruzzo, Molise, Campania, Puglia, Basilicata, Calabria, Sicilia, Sardegna
* Select time: 2017, 2018, 2019
* Data type: "at least once a week", "never"


**Export in CSV** and get this dataframe (some rows are shown as example):

In [18]:
d3 = read_csv('../data/srcDS/D3.csv', keep_default_na=False)
d3

,ITTER107,Territory,TIPO_DATO_AVQ,Data type,MISURA_AVQ,Measure,TIME,Select time,Value,Flag Codes,Flags
0,ITD3,Veneto,6_WEEK_RELIG,at least once a week,THV,thousands value,2017,2017,1302,,
1,ITD3,Veneto,6_WEEK_RELIG,at least once a week,THV,thousands value,2018,2018,1155,,
2,ITD3,Veneto,6_WEEK_RELIG,at least once a week,THV,thousands value,2019,2019,1129,,
3,ITC4,Lombardia,6_WEEK_RELIG,at least once a week,THV,thousands value,2017,2017,2539,,
4,ITC4,Lombardia,6_WEEK_RELIG,at least once a week,THV,thousands value,2018,2018,2371,,
...,...,...,...,...,...,...,...,...,...,...,...
115,ITE1,Toscana,6_NEVER_RELIG,never,THV,thousands value,2018,2018,1308,,
116,ITE1,Toscana,6_NEVER_RELIG,never,THV,thousands value,2019,2019,1368,,
117,ITF2,Molise,6_NEVER_RELIG,never,THV,thousands value,2017,2017,51,,
118,ITF2,Molise,6_NEVER_RELIG,never,THV,thousands value,2018,2018,56,,
119,ITF2,Molise,6_NEVER_RELIG,never,THV,thousands value,2019,2019,60,,


We can see that we have repeated data:
* `ITTER107` corresponds to `Territory`
* `TIPO_DATO_AVQ` corresponds to `Data type`
* `MISURA_AVQ` corresponds to `Measure`
* `TIME` corresponds to `Select time`

Therefore, we can get rid of these duplicated columns (and other unnecessary columns) in order to keep our dataset cleaner (<u>see</u>: section "Clean up phase > "D3 - Aspects of daily life: Religious observance - regions and type of municipality")

### D4 -  Mother - Age and citizenship
This dataset contains <b>live births</b> values of women aged 0-25, divided per region

**Path** to the dataset on the <a href="https://esploradati.istat.it/databrowser/#/en/dw/categories/IT1,POP,1.0/POP_BIRTHFERT/DCIS_NATI1/DCIS_NATI1_PARENT_CHARACT/IT1,25_74_DF_DCIS_NATI1_8,1.0">esploradati.istat</a> platform: `Population and Households > Birthrate and fertility > Live births > Parental characteristics > Mother - Age and citizenship`

Select Criteria:

* Frequency: annual (default)
* Residence Territory: select only regional level (level 2)
* Indicator: LBIRTHES_FROM2017 - live births estimate
* Mother's citizenship: Italian, Foregin
* Mother's Age: Y_UN17 up to Y25
* Time: 2017, 2018, 2019 (select one by one and download one dataset for each year)
<br>
Pivoting:

* rows: Mother's Age, Mother's citizenship, Residence Territory
* everything else in "Filters"

**Export in SDMX-CSV** and get a table with additional information and metadata: YEAR_BIRTH_MOTHER, MARITAL_STATUS_FATHER,COUPLE_OF_PARENTS,GEOG_AREA_BIRTH,CITIZEN_FOREIN_OFBIRTH,Y_BORN_ALIVE_MARRIAGE,TIME_PERIOD and various notes with empty values.
→ all of these additional columns can be taken out, the result is a dataset for each year with the following columns: Territory, Age, Citizenship, Live births value.

In [19]:
srcLive_births = read_csv("../data/srcDS/D4Pregnancy/D4-2017-Pregnancy.csv", keep_default_na=False)
srcLive_births [:5]

,DATAFLOW,FREQ,RESIDENCE_TERR,DATA_TYPE,CITIZENSHIP_MOTHER,MOTHER_AGE,FATHERS_AGE,YEAR_BIRTH_MOTHER,MARITAL_STATUS_MOTHER,MARITAL_STATUS_FATHER,...,NOTE_YEAR_BIRTH_MOTHER,NOTE_MARITAL_STATUS_MOTHER,NOTE_MARITAL_STATUS_FATHER,NOTE_COUPLE_OF_PARENTS,NOTE_GEOG_AREA_BIRTH,NOTE_CITIZEN_FOREIN_OFBIRTH,NOTE_Y_BORN_ALIVE_MARRIAGE,BASE_PER,UNIT_MEAS,UNIT_MULT
0,IT1:25_74_DF_DCIS_NATI1_8(1.0),A,ITC1,LBIRTHES_FROM2017,FRG,Y_UN17,TOTAL,ALL,99,99,...,,,,,,,,,,
1,IT1:25_74_DF_DCIS_NATI1_8(1.0),A,ITC1,LBIRTHES_FROM2017,FRG,Y18,TOTAL,ALL,99,99,...,,,,,,,,,,
2,IT1:25_74_DF_DCIS_NATI1_8(1.0),A,ITC1,LBIRTHES_FROM2017,FRG,Y19,TOTAL,ALL,99,99,...,,,,,,,,,,
3,IT1:25_74_DF_DCIS_NATI1_8(1.0),A,ITC1,LBIRTHES_FROM2017,FRG,Y20,TOTAL,ALL,99,99,...,,,,,,,,,,
4,IT1:25_74_DF_DCIS_NATI1_8(1.0),A,ITC1,LBIRTHES_FROM2017,FRG,Y21,TOTAL,ALL,99,99,...,,,,,,,,,,

all of these additional columns can be taken out, the result is a dataset for each year with the following columns: Territory, Age, Citizenship, Live births value.

### D5 - Pregnancy: miscarriages

**Path** to the dataset on the <a href="http://dati.istat.it/">I.stat</a> platform: `Health Statistics > Women Reproductive Health > Spontaneous abortions - resignation from the place of the event > Provincial data > Age of women - prov.`

Select Criteria:
**I DON'T REMEMBER AND I.STAT DOESN'T LOAD SO I CAN'T CHECK**

Pivoting:

**Export in CSV** 

#### Disclaimer
 
1. QUALITY OF DATA: data from Liguria, Lombardia, Emilia Romagna, Campania, Puglia, Basilicata, Calabria, Sicilia, Sardegna are signaled as incomplete → <a href="https://siqual.istat.it/SIQual/dettaglioIndagine.do?dispatch=docMetodologici&id=5000132&refresh=true&language=IT ">see survey details</a>

Anyway, for the years we are considering in our research there seem to be no problem

2. The region refers to the structure where the event happened.

In [20]:
srcMiscarriages = read_csv("../data/srcDS/D5Pregnancy/D5-2017-Pregnancy.csv", keep_default_na=False)
srcMiscarriages [:5]

,ITTER107,Territorio,TIPO_DATO14,Tipo dato,ETA1,Classe di età,TERANT,Terapia antalgica,COMPL,Complicazione,...,Luogo di aborto,DURATA,Settimane di amenorrea,SI_NO,Utilizzo di tecniche di procreazione medicalmente assistita,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,ITC1,Piemonte,55,dimissioni per aborto spontaneo,Y15-19,15-19 anni,TOT,totale,TOT,totale,...,totale,TOTAL,totale,9,totale,2017,2017,59,,
1,ITC2,Valle d'Aosta / Vallée d'Aoste,55,dimissioni per aborto spontaneo,Y15-19,15-19 anni,TOT,totale,TOT,totale,...,totale,TOTAL,totale,9,totale,2017,2017,0,,
2,ITC3,Liguria,55,dimissioni per aborto spontaneo,Y15-19,15-19 anni,TOT,totale,TOT,totale,...,totale,TOTAL,totale,9,totale,2017,2017,18,,
3,ITC4,Lombardia,55,dimissioni per aborto spontaneo,Y15-19,15-19 anni,TOT,totale,TOT,totale,...,totale,TOTAL,totale,9,totale,2017,2017,105,,
4,ITDA,Trentino Alto Adige / Südtirol,55,dimissioni per aborto spontaneo,Y15-19,15-19 anni,TOT,totale,TOT,totale,...,totale,TOTAL,totale,9,totale,2017,2017,10,,

### D6 - Pregnancy: abortions

**Path** to the dataset on the <a href="http://dati.istat.it/">I.stat</a> platform: `Health Statistics > Women Reproductive Health  > Interruzioni volontarie della gravidanza - caratteristiche della donna > dati provinciali > età-prov di evento`

Select Criteria:
**I DON'T REMEMBER AND I.STAT DOESN'T LOAD SO I CAN'T CHECK**

Pivoting:

**Export in CSV**

In [21]:
srcAbortions = read_csv("../data/srcDS/D5Pregnancy/D5-2017-Pregnancy.csv", keep_default_na=False)
srcAbortions [:5]

,ITTER107,Territorio,TIPO_DATO14,Tipo dato,ETA1,Classe di età,TERANT,Terapia antalgica,COMPL,Complicazione,...,Luogo di aborto,DURATA,Settimane di amenorrea,SI_NO,Utilizzo di tecniche di procreazione medicalmente assistita,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,ITC1,Piemonte,55,dimissioni per aborto spontaneo,Y15-19,15-19 anni,TOT,totale,TOT,totale,...,totale,TOTAL,totale,9,totale,2017,2017,59,,
1,ITC2,Valle d'Aosta / Vallée d'Aoste,55,dimissioni per aborto spontaneo,Y15-19,15-19 anni,TOT,totale,TOT,totale,...,totale,TOTAL,totale,9,totale,2017,2017,0,,
2,ITC3,Liguria,55,dimissioni per aborto spontaneo,Y15-19,15-19 anni,TOT,totale,TOT,totale,...,totale,TOTAL,totale,9,totale,2017,2017,18,,
3,ITC4,Lombardia,55,dimissioni per aborto spontaneo,Y15-19,15-19 anni,TOT,totale,TOT,totale,...,totale,TOTAL,totale,9,totale,2017,2017,105,,
4,ITDA,Trentino Alto Adige / Südtirol,55,dimissioni per aborto spontaneo,Y15-19,15-19 anni,TOT,totale,TOT,totale,...,totale,TOTAL,totale,9,totale,2017,2017,10,,


### D7 - "Early leavers from education and training - aged 18 to 24 - previous regulation (until 2020)"

**Path** to the dataset on the I.stat platform: `Education and Training > Early leavers from education and training - aged 18 to 24 - previous regulation (until 2020) > Data summary`

Select variables:
* Data type: early leavers from education and training - aged 18 to 24 (percentage values)
* Territory: Piemonte, Valle d'Aosta / Vallée d'Aoste, Liguria, Lombardia, Trentino Alto Adige / Sudtirol, Veneto, Friuli-Venezia Giulia, Emilia-Romagna, Toscana, Umbria, Marche, Lazio, Abruzzo, Molise, Campania, Puglia, Basilicata, Calabria, Sicilia, Sardegna
* Select time: 2017, 2018, 2019
* Citizeship: total
* Gender: males, females, total

**Export in CSV** and get this dataframe (some rows are shown as example):

In [22]:
d7 = read_csv('../data/srcDS/D7.csv')
d7

FileNotFoundError: [Errno 2] No such file or directory: '../data/srcDS/D7.csv'

We can see that we have repeated data:
* `ITTER107` corresponds to `Territory`
* `TIPO_DATO3` corresponds to `Data type`
* `SEXISTAT1` corresponds to `Gender`
* `CITTADMAD` corresponds to `Citizenship`
* `TIME` corresponds to `Select time`


Therefore, we can get rid of these duplicated columns (and other unnecessary columns) in order to keep our dataset cleaner (<u>see</u>: section Clean up phase > "Early leavers from education and training - aged 18 to 24 - previous regulation (until 2020)")

## Clean up phase

### D1 - "Population estimates 2002-2019 by age and sex at Jan 1st"
For what concerns these datasets (both the one regarding only the specified gender and age range and the general population one), the only clean up we had to do was related to the codes of the regions.<br>
In fact, while for all other datasets downloaded from Istat the regions had specific and unique codes (under the column ITTER107), in this case it was not possible to find the codes and it was therefore necessary to manually add them, substituting to the other value under the column "Region code".

In [ ]:
def replaceRcode(path,rename):
    file = read_csv(path)
    for idx,row in file.iterrows():
        reg_code = row["Region code"]
        if reg_code == 1:    # Piemonte
            file.loc[idx, "Region code"] = "ITC1"
        elif reg_code == 2:  # Valle d'Aosta
            file.loc[idx, "Region code"] = "ITC2"
        elif reg_code == 3:  # Lombardia
            file.loc[idx, "Region code"] = "ITC4"
        elif reg_code == 4:  # Trentino-Alto Adige
            file.loc[idx, "Region code"] = "ITDA"
        elif reg_code == 5:  # Veneto
            file.loc[idx, "Region code"] = "ITD3"
        elif reg_code == 6:  # Friuli-Venezia Giulia
            file.loc[idx, "Region code"] = "ITD4"
        elif reg_code == 7:  # Liguria
            file.loc[idx, "Region code"] = "ITC3"
        elif reg_code == 8:  # Emilia-Romagna
            file.loc[idx, "Region code"] = "ITD5"
        elif reg_code == 9:  # Toscana
            file.loc[idx, "Region code"] = "ITE1"
        elif reg_code == 10:  # Umbria
            file.loc[idx, "Region code"] = "ITE2"
        elif reg_code == 11:  # Marche
            file.loc[idx, "Region code"] = "ITE3"
        elif reg_code == 12:  # Lazio
            file.loc[idx, "Region code"] = "ITE4"
        elif reg_code == 13:  # Abruzzo
            file.loc[idx, "Region code"] = "ITF1"
        elif reg_code == 14:  # Molise
            file.loc[idx, "Region code"] = "ITF2"
        elif reg_code == 15:  # Campania
            file.loc[idx, "Region code"] = "ITF3"
        elif reg_code == 16:  # Puglia
            file.loc[idx, "Region code"] = "ITF4"
        elif reg_code == 17:  # Basilicata
            file.loc[idx, "Region code"] = "ITF5"
        elif reg_code == 18:  # Calabria
            file.loc[idx, "Region code"] = "ITF6"
        elif reg_code == 19:  # Sicilia
            file.loc[idx, "Region code"] = "ITG1"
        elif reg_code == 20:  # Sardegna
            file.loc[idx, "Region code"] = "ITG2"
    
    # Create new clean CSV - undelete this line only if you want to RECREATE the cleaned csv file
    #file.to_csv("data/cleanDS/Population"+rename+".csv", index=False)

### D2 - "Resident population by age, sex and marital status on 1st January 2022"

To clean D2 a function <code>concatRegionalDS</code> was implemented. This function takes in input the <code>path</code> of the folder containing <span style="color: orange;">all the population's dataset referring to a specific year</span>. In our case the folders passed in input are: 

* 2018General
* 2019General
* D1-D2Population2018
* D1-D2Population2019

and concatenates all the regional datasets in the folder to return a <span style="color: orange;">single dataset for every year with all regional data</span>.

The function can be found in `scripts > CLEANING.py`.
The result is a dataset containing 

<table>
<tr>
<th>ITTER107</th>
<th>Region</th>
<th>Age</th> 
<th>Total males</th>
<th>Total females</th>
<th>Total</th>
<tr>
</table>

In [ ]:
# example of result dataset

_2019General = read_csv("../data/srcDS/Population/General/2019General.csv", keep_default_na=False)
_2019General

### D3 - "Aspects of daily life: Religious observance - regions and type of municipality"
As D3 is a pretty simple dataset, all that was needed to clean it was just to **remove the duplicate and unnecessary columns** (namely "Data type", "MISURA_AVQ", "Measure", "Select time", "Flag Codes", "Flags"), while keeping the corresponding coded ones ("TIPO_DATO_AVQ", "TIME").
Specifically, the column "MISURA_AVQ" was also dropped because we only have "thousands values".

In [ ]:
''' DOUBLE COLUMNS
    ITTER107 <-> Territory
        ITC1 <-> Piemonte
        ITC2 <-> Valle d'Aosta / Vallée d'Aoste
        ITC3 <-> Liguria
        ITC4 <-> Lombardia
        ITD3 <-> Veneto
        ITD4 <-> Friuli-Venezia Giulia
        ITD5 <-> Emilia-Romagna
        ITDA <-> Trentino Alto Adige / Sudtirol
        ITE1 <-> Toscana
        ITE2 <-> Umbria
        ITE3 <-> Marche
        ITE4 <-> Lazio
        ITF1 <-> Abruzzo
        ITF2 <-> Molise
        ITF3 <-> Campania
        ITF4 <-> Puglia
        ITF5 <-> Basilicata
        ITF6 <-> Calabria
        ITG1 <-> Sicilia
        ITG2 <-> Sardegna
    TIPO_DATO_AVQ <-> Data type
        6_NEVER_RELIG <-> never
        6_WEEK_RELIG <-> at least once a week
    MISURA_AVQ <-> Measure
        THV <-> thousands value
    TIME <-> Select time
        Nothing changes in the kind of data in the cells
'''
# Dropping the columns with data in NL for clarity (we can also drop the 'MISURA_AVQ' column, knowing that we are talking of thousands value)
d3.drop(["Data type","MISURA_AVQ","Measure","Select time","Flag Codes","Flags"], axis=1, inplace=True)
print(d3)

# Create new clean CSV for D3 (do not un-comment- this code is just to show the process)
# d3.to_csv("../data/cleanDS/D3_clean.csv", index=False)

### D4 - "Pregnancy: live births"

In [ ]:
#D4
#code to iterate over the D5Pregnancy folder and automatically cleaning all csv per year
#code is specific to the structure of the folder purtroppo, and if run twice will re-iterate even with new files !

import os, sys 
import pprint

path = "../data/srcDS/D4Pregnancy/"
dir = os.listdir(path)

for file in dir:
    if file[-4:] == ".csv":
        csvName = str(file)
        pregnancy = read_csv(path+csvName, keep_default_na=False)
        pregnancy = pregnancy[["RESIDENCE_TERR","CITIZENSHIP_MOTHER", "MOTHER_AGE", "OBS_VALUE"]]
        pregnancy.to_csv("../data/srcDS/D4Pregnancy/cleanedDS/cleaned" + csvName,index=False) #cleaned needs to be put in the front or it will invalidate file format
        
        
ex_df = read_csv("../data/srcDS/D4Pregnancy/cleanedDS/cleanedD4-2019-Pregnancy.csv", keep_default_na=False)
ex_df[:10]

###  D5 -  Pregnancy: miscarriages

In [ ]:
#DS5
path = "../data/srcDS/D5Pregnancy/"
dir = os.listdir(path)

for file in dir:
    if file[-4:] == ".csv":
        csvName = str(file)
        pregnancy = read_csv(path+csvName, keep_default_na=False)
        pregnancy = pregnancy[["Territorio","Classe di età", "Value"]]
        pregnancy.to_csv("../data/srcDS/D5Pregnancy/cleanedDS/cleaned" + csvName,index=False) #cleaned needs to be put in the front or it will invalidate file format
        
        
ex_df = read_csv("../data/srcDS/D5Pregnancy/cleanedDS/cleanedD6-2017-Pregnancy.csv", keep_default_na=False)
ex_df[:10]

### D6 - Pregnancy: abortions

In [ ]:
#DS6
path = "../data/srcDS/D6Pregnancy/"
dir = os.listdir(path)

for file in dir:
    if file[-4:] == ".csv":
        csvName = str(file)
        pregnancy = read_csv(path+csvName, keep_default_na=False)
        pregnancy = pregnancy[["Territorio dell'evento", "Età e classe di età", "Value"]]
        pregnancy.to_csv("../data/srcDS/D6Pregnancy/cleanedDS/cleaned" + csvName,index=False) #cleaned needs to be put in the front or it will invalidate file format
        
        
ex_df = read_csv("../data/srcDS/D6Pregnancy/cleanedDS/cleanedD6-2018-Pregnancy.csv", keep_default_na=False)
ex_df[:10]


### D7 - "Early leavers from education and training - aged 18 to 24 - previous regulation (until 2020)"